@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/_LayoutHome.cshtml";
}
<body style="text-align:center;">
    <h2>Shopping Successfully!</h2>
    <h4>Your order had sent to shop successfully. You will receive goods in 2-3 days. See you again. Thanks!</h4>
    <a class="btn btn-default" href="@Url.Action("Index","Home")">Continuos Shopping...</a>
</body>
