@model IEnumerable<Website_Panda.Models.Product>

@{
    Layout = null;
}
@foreach (var item in Model)
{<div class="item">
    <div class="gd-box-info text-center">
        <div class="product-men women_two bot-gd">
            <div class="product-googles-info slide-img googles">
                <div class="men-pro-item">
                    <div class="men-thumb-item">
                        <img src="~/Images/@item.Image" class="img-fluid" alt="">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="/Home/ProductDetail/@item.IDProduct" class="link-product-add-cart">Quick View</a>
                            </div>
                        </div>
                        <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product">

                        <div class="info-product-price">
                            <div class="grid_meta">
                                <div class="product_price">
                                    <h4>
                                        <a href="single.html">@Html.DisplayFor(modelItem => item.ProductName) </a>
                                    </h4>
                                    <div class="grid-price mt-2">
                                        <span class="money ">@Html.DisplayFor(modelItem => item.Price)$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="googles single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="googles_item" value="Irayz Butterfly">
                                    <input type="hidden" name="amount" value="281.00">
                                    <button type="submit" class="googles-cart pgoogles-cart">
                                        <i class="fa fa-cart-plus"></i>
                                    </button>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



}


